/*
	create by weigy on 20140530
*/

/* index.jsp style */
html {
	height: 100%;
}

body {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	
	height: 98%;
}

#header_div {
	height: 20%;
}

#login_div {
	float: right;
	min-height: 20%;
}

#login_user_input, #login_passwd_input {
	width: 80px;
}

#login_fail_notice {
	position: absolute;
	
	color: red;
	font-size: 10px;
}

#title_div {
	clear: both;

	text-align: center;
	font-weight: bold;
    font-size:300%;
    
	min-height: 60%;
}

#menu_div {
	min-height: 20%;
	margin-left: 5%;
}

.menu_item_a {
	margin-left: 20px;
	margin-right: 20px;
	
	font-weight: bold;
}

.menu_item_a:link
{
	color: black;
	text-decoration: none;
}

.menu_item_a:visited
{
	color: black;
	text-decoration: none;
}

.menu_item_a:hover
{
	color: black;
	text-decoration: none;
}

.menu_item_a:active
{
	color: black;
	text-decoration: none;
}

#divide_hr {
	width: 90%;
	height: 5px;
	border-width: 0;
	color: gray;
	background-color: gray;
}

#content_div {
	height: 75%;
}

#footer_div {
	text-align: center;
	font-size: 80%;
}

/* ajaxOrderMenu.jsp style */
#menu_table {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

#menu_table th, #menu_table td {
	border-style: dashed;
	border-width: 1px;
	border-collapse: collapse;
	
	padding: 0px 10px;
}

#page_link_div {
	text-align: center;
}

#page_link_div a:link {
	color: black;
	text-decoration: none;
}

#page_link_div a:visited {
	color: black;
	text-decoration: none;
}

#page_link_div a:hover {
	color: black;
	text-decoration: underline;
}

#page_link_div a:active {
	color: black;
	text-decoration: none;
}

/* ajaxAdminOrder.jsp style */
#search_order_div {
	width: 80%;
	margin: 0 auto;
}