<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drhelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" /><application android:icon="@drawable/dr_helper" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.PrefsActivity">
            <intent-filter>
                <action android:name="android.intent.action.PREFS" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CheckTableActivity"></activity>
        <activity android:name=".activity.CreateTableActivity"></activity>
        <activity android:name=".activity.OrderActivity"></activity>
        <activity android:name=".activity.CheckOrderActivity"></activity>
        <activity android:name=".activity.MenuActivity"></activity>
        <provider android:name=".provider.MenuProvider" android:authorities="com.drhelper.provider.MenuProvider"></provider>
        <activity android:name=".activity.OrderMenuActivity"></activity>
        <activity android:name=".activity.UpdateActivity"></activity>
        <activity android:name=".activity.ChangeTableActivity"></activity>
        <activity android:name=".activity.UnionTableActivity"></activity>
        <service android:name=".service.NoticeService"></service>
        </application>

</manifest>
